
.before-enter{
	opacity: 0;
	transform: translateY(70px);
	-webkit-transform: translateY(70px);
}

.enter{
	transition: transform 450ms ease-in-out;
	transition: opacity 400ms ease-in;
	opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
}

.before-my-fadein{
	opacity: 0;
}

.my-fadein{
	transition: opacity 300ms ease-in;
	opacity: 1;
}

.before-my-fadein_delay{
	opacity: 0;
}

.my-fadein_delay{
	transition: opacity 300ms ease-in 200ms;
	opacity: 1;
}

.before-my-fadein_frombottom,
.before-my-fadein_frombottom_delay200,
.before-my-fadein_frombottom_delay400{
	opacity: 0;
	transform: translateY(20px);
}


.my-fadein_frombottom{
	transition: opacity 400ms ease-out,
	            transform 400ms ease-out;
}

.my-fadein_frombottom_delay200{
	transition: opacity 400ms ease-out 200ms,
	            transform 400ms ease-out 200ms;	
}

.my-fadein_frombottom_delay400{
	transition: opacity 400ms ease-out 400ms,
	            transform 400ms ease-out 400ms;	
}

.my-fadein_frombottom,
.my-fadein_frombottom_delay200,
.my-fadein_frombottom_delay400{
	opacity: 1;
	transform: translateY(0px);
}