
/* input type text with label */
input[type=text]{
	width: 100%
}

.input-box{
	position: relative;
	//font-size: 20px;
	//padding: 10px;
}
.input-box:not(:last-child){
	margin-right: 20px; 
}

.input-box input{
	border: 0px;
	border-bottom: 1px solid var(--brand-blue);
	padding-left: 10px; 
	font-size: inherit;

	outline: none;

}

.input-box input.incorrect{
	border-color: red;
}

.input-box input.incorrect + label{
	color: red;
}

.input-box label{
	position: absolute;
	left: 10px;
	top: -0.1em;

	transition: top 400ms ease-in-out,
	            left 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

.input-box label.active{
	left: 0px; 
	
	-webkit-transform: translateY(-14px) scale(0.8); 
    transform: translateY(-14px) scale(0.8); 
	transform-origin: 0 0;
}

.input-box input:hover + label{
	//background-color: black;
	left: 0px; 
	
	-webkit-transform: translateY(-14px) scale(0.8); 
    transform: translateY(-14px) scale(0.8);
   	transform-origin: 0 0;
}

.input-box .tooltip{
	display: inline-block;
	visibility: hidden;
	z-index: 10;
	line-height: 2em;
	font-size: 0.75rem;
	padding: 2px 5px;
	border-radius: 6px;
	background-color: #555;
	color: white;
	position: absolute;
	top: -4em;
	left: 0px;
    opacity: 0;
    transition: opacity 0.3s 3s;
}

.input-box:hover .tooltip{
	visibility: visible;
	opacity: 1;
}

.input-box .tooltip:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* end of input type text with label */

/* send button */
button.send-button{
	background-color: var(--brand-blue);
	border: 0px;
	padding: 2px;
	color: black;
	font-weight: 900;
	outline: 0px;
	transition: all 300ms ease-in-out;
}

/* hover*/
button.send-button:hover{
	color: var(--brand-yellow)
}

/* waiting for responce */
button.send-button.sending{
	
}
/* end of send button*/

/* confirmation page */
div.modal.confirmation{
	width: 200px;
	height: 100px;
	
	background-color: rgba(50,50,50, .6);		
	border-radius: 5px;
	border: 2px solid black;

	text-align: justify;
	text-align-last: center; 
}

div.modal.confirmation.active{
	display: block;
	position: fixed;
	left:0;
	top:0;
	color: white;
}

div.modal.confirmation .allow,
div.modal.confirmation .discard{
	position: absolute;
	width: 30%;
	height: 30px;
	color: white;
	text-align: center;
	bottom: 5px;
	border-radius: 5px;
}

div.modal.confirmation .allow{
	background-color: darkgreen;
	left: 5px;
}

div.modal.confirmation .discard{
	background-color: red;
	left: calc(30% + 10px);
}


div.long-text-container a{
	color: #0aaad9;
	transition: all ease 0.3s;
}

div.long-text-container a:hover{
	color: #fba819;
}


div.long-text-container a:visited{
	color: #0aaad9;
}

/* loading div */
.sendWait {
	position: absolute;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    outline: 0px;
    transform: translate(-50%, -50%);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}