@charset "utf-8";


$primary: #0aaad9;
$yellow: #fba819;
$title-color: #fba819;


$footer-background-color: #dbdbdb;

$button-background-color: #000;
$button-padding-vertical: 40px;
$button-padding-horizontal: 40px;




@import "../node_modules/bulma/bulma.sass";