<html>
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" type="text/css" href="root/pages/catalogPageStyle.css">


</head>
<body class="bg-image has-background-white">
<% include ../partials/mainMenu %>

<div id="catalog">

<div class="hero is-small title-container">
	<div class="hero-body">
	<div class="container ">
		<div class="level">
			<div class="level-left">
			<div class="level-item" v-for="sub in subcategories">
				<!--<a v-bind:href="'/catalog?subcategory='+sub.id">{{ sub.name }}</a>-->
				<a class="subcategory" v-bind:id="'subcategory_'+sub.id" v-on:click="reloadData(sub.id)">{{ sub.name }}</a>
			</div>
			</div>
		</div>
	</div> <!-- container -->
	</div> <!-- hero-body -->
</div> <!-- hero -->

<div class="hero is-small title-container">
	<div class="hero-body">
	<div class="container ">
		<h1 class="title">{{ subcategory }}</h1>
	
	</div> <!-- container -->
	</div> <!-- hero-body -->
</div> <!-- hero -->

<div class="hero product-display" v-for="p in products" :key="p.id" v-animation:enter>
<a v-bind:href="'/catalog/product?id='+p.id">
<div class="hero-body">
<div class="container">
<div class="level">
	<div class="level-left">
		<figure class="image is-128x128">
            <img src="" v-bind:src="p.image ? p.image : 'inverter1.png'">
        </figure>
	</div>

	<div class="level-item">
	<div class="level-item horizontal-container">
		<div class="name">
			<p>{{ p.name }}</p>
		</div>		
		<div class="desc">
			<p>{{ p.short_desc }}</p>
		</div>
		<div class="price">
			{{ price_format(p.price_netto) }} zł netto
		</div>
	</div>
	</div>
</div>
</div> <!-- container -->
</div> <!-- hero-body -->
</a>
</div> <!-- hero-->

</div>

<% include ../partials/footer %>
</body>


<script type="text/javascript" src="root/pages/catalogPageVue.js"></script>