#catalog .product-display{
	border-bottom: 1px solid #CCC;
	color: var(--brand-yellow);
} 

#catalog .product-display .hero-body{
	padding-top: 15px;
	padding-bottom: 15px;
}

#catalog .product-display:hover{
	background-color: #EEE
}

#catalog .level-item div{
	width: 100%;
}

#catalog .product-display  .level-item.horizontal-container{
	display: block;
	margin-left: 15px;
}

#catalog .product-display .name{
	color: black;
	font-weight: 900;
}

#catalog .product-display .desc{
	margin-bottom: 15px;
}

#catalog .product-display .price{
	font-size: 2rem;
}

#catalog .title-container{
	background-color: #EEE;
	border-bottom: 1px solid #CCC;
}

#catalog .product-display a{
	color: inherit;
}

#catalog .product-display a:visited{
	
}

#catalog .hero a.subcategory{
	color: black;
}

#catalog .hero a.subcategory.active{
	//color: var(--brand-yellow);
	text-decoration: underline;
}

#catalog .product-display a:hover{
	
}