<html>

<% include ../partials/head %>

<body class="bg-image has-background-white">
<% include ../partials/mainMenu %>

<style type="text/css">
	.table tr th{
		text-align: center;
	}
</style>

<div class="hero is-middle">
<div class="hero-body">
<div class="container">
Wspolpracownicy
</div> <!-- container -->
</div> <!-- hero body -->
</div> <!-- hero -->

<% include ../partials/footer %>
</body>