<html>
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" type="text/css" href="root/pages/contactPageStyle.css">

</head>
<body class="bg-image has-background-white">

<% include ../partials/mainMenu %>

<div class="hero is-middle">
<div class="hero-body">
<div class="container">

<!--<div class="level">
<div class="level-left">
<div class="level-item">
<ul>
<li>ELMECO Jerzy Parczyk</li>
<li>ul. Jedności Narodowej 79 m. 14</li>
<li>50-262 Wrocław</li>
<li>tel: +48 501 263 866</li>
<li>e-mail: biuro@elmecosolar.pl</li>
</ul>
</div>
</div>
<div class="level-right">
<div class="level-item">
<ul style="margin-top: 0px; text-align: right;">
<li>Nr konta: <strong>42 1140 2004 0000 3502 3061 2594</strong></li>
<li>NIP: <strong>634 002 14 58</strong></li>
<li>Certyfikat UDT: OZE-W/28/000012/18</li>
</ul> 
</div>
</div>
</div> -->
<div class="columns">
	<div class="column">
		<div class="tile is-ancestor">
		
		<div class="tile is-vertical">	
			<div class="tile">
			<div class="tile is-parent">
				<div class="tile is-child">
				<figure class="image is-text-centered crew_img">
			      	<img src="jerzy.jpg">
			    </figure>
			    </div><!--child-->
		    </div><!-- parent -->
			
			<div class="tile is-parent is-8">
				<div class="tile is-child">
					<ul>
						<li><span class="elmeco">ELMECO</span> Jerzy Parczyk</li>
						<li>ul. Jedności Narodowej 79 m. 14</li>
						<li>50-262 Wrocław</li>
						<li>tel: +48 501 263 866</li>
						<li>e-mail: biuro@elmecosolar.pl</li>
					</ul>
					<ul style="margin-top: 25px;">
						<li>Nr konta: <strong class="important">42 1140 2004 0000 3502 3061 2594</strong></li>
						<li>NIP: <strong class="important">634 002 14 58</strong></li>
						<li>Certyfikat UDT: OZE-W/28/000012/18</li>
					</ul> 	
				</div><!--child-->
		    </div><!-- parent -->
			</div><!--tile-->
			<div class="tile is-parent">
				<div class="tile is-child">
					<!--<ul style="margin-top: 25px;">
						<li>Nr konta: <strong>42 1140 2004 0000 3502 3061 2594</strong></li>
						<li>NIP: <strong>634 002 14 58</strong></li>
						<li>Certyfikat UDT: OZE-W/28/000012/18</li>
					</ul> -->	
				</div>
			</div><!--parent-->
		</div> <!--vertical -->

	    </div> <!--ancestor-->
	    
	</div><!--column-->
	<div class="column">


<div id="mailer">
<h2 class="title is-4 is-primary">Jeśli chcesz się z nami skontaktować napisz:</h2>
<div class="level">
	<div class="level-item input-box">
		<input type="text" name="name" id="name">
		<label for="name">Imię</label>
		<span class="tooltip">Twoje imię</span>
	</div>
	<div class="level-item input-box">
		<input type="text" name="name" id="surname">
		<label for="surname">Nazwisko</label>
		<span class="tooltip">Twoje nazwisko</span>
	</div>
</div><!-- level -->
<div class="level">
	<div class="level-item input-box">
		<input type="text" name="name" id="email">
		<label for="email">Twój e-mail</label>
		<span class="tooltip">Email na który odeślemy odpowiedź. Musi zawierać @</span>
	</div>
</div> <!-- level -->

<div class="level">
	<div class="level-item input-box">
		<input type="text" name="name" id="title">
		<label for="title">Temat wiadomości</label>
		<span class="tooltip">Prosty i treściwy temat opisujący problem</span>
	</div>
</div> <!-- level -->

<div class="level">
	<div class="level-item">
		<textarea style="width: 100%" rows="15" name="content" id="content" placeholder="Treść wiadomości..."></textarea>
	</div>
</div>
<div class="level">
	<div class="level-left">
	<div class="level-item">
		<input type="checkbox" name="sendMeBack" id="sendMeBack">
		<label for="sendMeBack" style="margin-left: 1em;">Czy wysłać kopię wiadomości na "Twój email"?</label>
	</div>
	</div>
</div>


<div class="level">
	<div class="level-left"></div>
	<div class="level-right">
		<div class="level-item">
			<button name="send" id="send" v-on:click="send()" style="position: relative;">Wyślij</button>
		</div>
	</div>
</div>

* wysyłając wiadomość zgadzasz się na przetwarzanie informacji, podanych przez ciebie w formularzu, dla celów komunikacyjnych i marketingowych serwisu elmecosolar.pl  

	</div><!-- column -->
</div><!--columns-->


</div> <!-- mailer-->
</div> <!-- container -->
</div> <!-- hero body -->
</div> <!-- hero -->

<% include ../partials/footer %>
</body>


<script type="text/javascript" src="root/pages/contactPageVue.js"></script>