#mailer{
	
}

#content{
	border: 1px solid var(--brand-blue);
	line-height: 1.5em;
	font-size: 1rem;
	outline: 0px;
	padding: 10px;
}

#send{
	background-color: var(--brand-blue);
	padding: 15px;
	color: white;
	letter-spacing: 2px;
	border: 0px;
	font-size: 1.2rem;
	font-weight: 900;
	transition: box-shadow 0.3s;
	width: 180px;
	height: 70px;
}

#send:hover{
	box-shadow: 0px 0px 4px 0px black;
}

#send:active{
	color: var(--brand-yellow);
}

#send.done{
	background-color: darkgreen;
}

figure.crew_img img{
	border-radius: 50%;
	border: 1px solid #777;
	height: 200px;
	width: auto;
}

.elmeco{
	font-size: 1.5em;
	font-weight: 900;
	color: var(--brand-blue);
}

li strong.important{
	font-size: 1.1em;
	letter-spacing: -0.5px;
}