<html>

<% include ../partials/head %>

<body class="bg-image has-background-white">
<% include ../partials/mainMenu %>

<style type="text/css">
	.table tr th{
		text-align: center;
	}
</style>

<div class="hero is-middle">
<div class="hero-body">
<div class="container">

<%for(let i=0;i<data.length;++i){%>

	<a href="<%=data[i].file_path%>"><%= data[i].file_name %></a></br>

<%}%>

</div> <!-- container -->
</div> <!-- hero body -->
</div> <!-- hero -->

<% include ../partials/footer %>
</body>