<html>
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" type="text/css" href="root/pages/mainPageStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
</head>

<body class="bg-image has-background-white">
<% include ../partials/mainMenu %>



<!-- ARTYKULY -->

    <!-- ARTYKOL PIERWSZY "Co powinienes wiedziec o fotowoltaice-->
    <!--###################################################################################-->

    <div class="hero is-small advantage" >
        <div class="hero-body is-paddingless content">
        <div class="container">
            <div class="columns">
                <div class="header1 title is-primary is-paddingless is-marginless">1</div> 
                    <div class="desc">
                    <h2 class="subtitle is-3 is-paddingless is-marginless">Co powinieneś wiedzieć..</h2>
                    <!--<h3>..kilka podstawowoych informacji o fotowoltaice</h3>-->
                    </div>
            </div><!--columns-->
        </div> <!-- container -->
    </div> <!-- hero body -->

    </div> <!-- hero -->


    <div class="hero">
    <div class="hero-body">
    <div class="container">
		<div class="columns">
            
            <div class="column">
	            <figure class="image is-text-centered">
	                <img src="art1.png">
	            </figure>
            </div>

            <div class="column has-text-justified is-two-thirds">
                <!--<h2 class="title is-4 is-primary">Początki fotowoltaiki</h2>-->
                
                <div class="long-text-container">
                	<p class="box">
                	Fotowoltaika to dziedzina nauki i techniki zajmująca się przetwarzaniem energii światła (np. słonecznego) na energie elektryczną (prąd elektryczny). Mechanizm fizyczny tego zjawiska wyjaśnił nie kto inny jak sam twórca teorii względności -  <strong>Albert Einstein</strong>, za co w 1921 r otrzymał Nagrodę Nobla. //<br>Po upływie niemalże stu lat, rozwój techniki, rosnące ceny prądu elektrycznego wytwarzanego metodami tradycyjnymi, zmiana podejścia społeczeństw do problematyki związanej z ekologią i czystym środowiskiem spowodowały znaczne obniżenie się kosztów wykonania instalacji fotowoltaicznych, czyniąc je osiągalnymi i <strong>opłacalnymi również dla przeciętnego użytkownika</strong>. Pociągnęło to za sobą silny  wzrost popularności i rozpowszechnienie się instalacji fotowoltaicznych na świecie, co przyczyniło się do dalszego obniżenia cen, które obecnie pozwalają na uzyskanie <strong> zadowalającego czasu zwrotu inwestycji</strong>.
                	</p>
				
					<p class="box is-paddingless" style="background-color: #CCC;">
                    	W ogólnym zarysie instalacja fotowoltaiczna składa się z:
                	</p>

                    <ul style="list-style: initial; padding-left: 15px;">
						<li><strong>paneli fotowoltaicznych</strong>, które wytwarzają prąd ze światła,</li> 
						<li><strong>inwertera</strong>, który jest niezbędny gdyż steruje on całą instalacją,</li>
						<li>magazynu energii, który jest potrzebny, gdyż instalacja fotowoltaiczna pracuje tylko w dzień, a prąd wykorzystywany jest non stop.</li>
					</ul>

					<p>
						Rodzaj magazynu, w którym gromadzony będzie nadmiar energii elektrycznej wyprodukowanej podczas pracy instalacji, decyduje o rodzaju i konstrukcji instalacji fotowoltaicznej. Rozróżniamy trzy rodzaje instalacji (wymienione w kolejności od <u>najtańszej</u> do <u>najdroższej</u>):
					</p>
				
					<ul style="list-style: initial; padding-left: 15px;">

						<li>współpracujące z siecią energetyczną (On-Grid), w których magazynem nadmiaru energii jest <strong>sieć energetyczna zasilająca nasz obiekt</strong>,</li>
						<li>autonomiczne (Off-Grid), nie współpracujące z siecią energetyczną, w których magazynem nadmiaru energii jest <strong>zestaw akumulatorów</strong>,</li>
						<li>hybrydowe, czyli instalacje łączące zalety i wady obu wcześniej wymienionych instalacji. Instalacja hybrydowa <strong>współpracujez siecią energetyczną</strong>  ale posiada również <strong>swój własny magazyn energii w postaci baterii akumulatorów</strong>.</li>
					</ul>

					<p>O wyborze rodzaju instalacji decydujesz Ty, ale musisz wziąć pod uwagę <strong>zalety</strong> i <strong>wady</strong> każdej z instalacji, jej koszt i oczywiście <strong>czas zwrotu inwestycji</strong> liczony jako okres, przez który instalacja wyprodukuje energię elektryczną o wartości równiej lub większej niż koszt jej zbudowania.</p>

					<p>Jednym z bardziej istotnych parametrów instalacji fotowoltaicznej, rzutującym na jej koszt i funkcjonalność, jest jej moc. 
					Aby ocenić, jak dużą instalację potrzebujesz<!--, pomijając skomplikowane obliczenia związane z:</p>-->
					
					wystarczy, że spojrzysz na swój <strong>rachunek za prąd</strong>, z którego odczytasz, ile energii elektrycznej zużyłeś przez ostatni rok. Wartość ta podana jest w <u>MWh</u> (megawatogodzinach). Biorąc pod uwagę szerokość geograficzna, na której położona jest Polska, aby wyprodukować taką samą ilość energii w okresie roku, twoja instalacja będzie musiała mieć moc <strong>odpowiadającą liczbowo twojemu rocznemu zużyciu</strong>. Czyli np: jeśli zużyłeś 5 MWh energii w rok, będziesz potrzebował instalację o mocy ok. 5 kWp (kilowatopików – moc instalacji podaje się jako maksymalną moc szczytową i wyraża się w kilowatopikach).</p> 
					<p>Ale oczywiście możesz zbudować instalację o dowolnej mocy. Za każdym razem, przy obliczaniu mocy instalcji, musisz jednak pamiętać, aby wziąć pod uwagę wiele różnych czynników wpływających na jej parametry, takich jak</p>
					<ul style="list-style: initial; padding-left: 15px;">
						<li>kąt padania słońca - na różnej szerokości geograficznej ta sama instalacja wyprodukuje różne ilości energii – im bliżej równika tym więcej,</li>
						<li>ilość godzin przez które świeci słońce – bo w tym czasie instalacja dostarcza energię,</li>
						<li>itp.</li>
					</ul>
                </div> <!-- text container-->



                <p>To wszystko, co powinieneś wiedzieć. Jeśli udało nam się Ciebie przekonać to, do dzieła, <strong>razem zbudujemy twoją własna elektrownię słoneczną.</strong></p>
            </div>
            
        </div>
        <div class="columns">
		    <div class="column is-two-thirds">
		    	<!--<h2 class="title is-4 is-primary">Z czego składa się instalacja?</h2>-->
                


		    </div>

		    <!--<div class="column">
		        <figure class="image is-text-centered">
	                <img src="system_elements.jpg">
	            </figure>
		    </div>-->
		</div> <!-- columns -->

		<div class="columns">
		    <!--<div class="column">
		        <figure class="image is-text-centered">
	                <img src="system_elements.jpg">
	            </figure>
		    </div>-->
		    <div class="column is-two-thirds">

		    	
		    </div>



        </div> <!-- columns -->
        <div class="columns">
        <div class="column">
        	<div class="level">
        		<div class="level-item">
        			
        		</div>
        	</div>
        </div>
        </div>
    </div> <!-- container -->
    </div> <!--hero-body-->
    </div> <!-- hero -->


    <!-- ARTYKOL DRUGI "Dlaczego my"-->
    <!--###################################################################################-->

    <div class="hero is-small advantage">
        <div class="hero-body is-paddingless content">
        <div class="container">
            <div class="columns">
                <div class="header1 title is-primary is-paddingless is-marginless">2</div> 
                    <div class="desc">
                    <h2 class="subtitle is-3 is-paddingless is-marginless" >Dlaczego my?</h2>
                    <h3></h3>
                    </div>
            </div><!--columns-->
        </div> <!-- container -->
    </div> <!-- hero body -->

    </div> <!-- hero -->


    <div id="why-we" class="hero"  style="margin-bottom: 25px;">
    <div class="hero-body">
    <div class="level">
	<div class="level-item is-8"><!-- obrazek z tłem , duzo ludzi-->
    	<div class="bg-image list">
			<ol>
				<li class="whyweli">Kalkulacja i projekt bez opłat</li>
				<li class="whyweli">Oferta na miarę Twoich potrzeb i oczekiwań</li>
				<li class="whyweli">Najwyższej klasy urządzenia</li>
				<li class="whyweli">Do 15 lat gwarancji na falownik</li>
				<li class="whyweli">25 lat gwarancji na sprawność panieli fotowoltaicznych</li>
				<li class="whyweli">Niska cena gwarantująca szybki czas zwrotu inwestycji</li>
				<li class="whyweli">Doświadoczony zespół fachowców związanych z branżą energetyczna od kilkunastu lat</li>
				<li class="whyweli">Realizacja pod klucz</li>
				<li class="whyweli">Stały monitoring instalacji</li>
			</ol>
		</div>	<!--  -->
	</div> <!-- level-item -->
    </div> <!-- level -->
    </div> <!-- hero-body -->
    <div class="hero-footer">
    	<div class="container">
    		<div class="level">
    			<div class="level-item">
    				<!--<div>
    				<div>Serdecznie zapraszamy do kontaktu</div>
    				<figure class="image">
			            <img src="/LOGO.png" style="max-width: 400px; margin: auto;">
			        </figure>-->
    			</div>
    		</div>
    	</div> <!-- container -->
    </div><!-- hero footer --> 
    </div> <!-- hero -->

    <!-- REKLAMA ZE SKLEPU -->
    <div id="product_display" class="bg-image" style="padding-top: 25px; background-image: url('tloReklamy.png'); background-position:  center bottom;">
        <div class="hero">
        <div class="hero-body is-little is-paddingless">
        <div class="container">
        	<div class="level">

        	<div class="level-item">
        		<div class="product-button previous" v-on:click="previous()"><i class="fas fa-angle-left"></i></div>
        	</div>

        	<div class="level-item">
        	<div id="product" class="product-box">
        	<div class="tile is-ancestor">
        		<div class="tile is-parent">
        			<div class="tile is-child 	">
        				<figure class="image">
                    		<img style="height: 300px;" v-bind:src="display.image" alt="obraz przedstawiajacy produkt ze sklepu"> 
                		</figure>
        			</div>
        		</div>
        		<div class="tile is-parent is-vertical is-6">
        			<div class="tile is-child">
        				
        			</div>
        			<div class="tile is-child">
        				<h4 class="title is-4 is-primary">{{ display.name }}</h4>
                        <p>{{ display.short_desc }}</p>
                        <h4 class="subtitle is-4">{{ display.price_netto }} zł</h4>
        			</div>
        		</div>
        	</div> <!-- ancestor-->
        	</div> <!--product-box -->
        	</div><!--level-item-->


        	<div class="level-item">
        		<div class="product-button next" v-on:click="next"><i class="fas fa-angle-right"></i></div>
        	</div>

        	</div> <!--level -->

        </div> <!--container-->
    </div> <!--hero-->
    </div> <!-- hero-body-->
    </div> <!--ad-->
    <!-- KONIEC REKLAMY ZE SKLEPU -->



    <!-- ARTYKOL TRZECI "Procedura-->
    <!--###################################################################################-->

    <div class="hero is-small advantage" v-animation:my-fadein >
        <div class="hero-body is-paddingless content">
        <div class="container">
            <div class="columns">
                <div class="header1 title is-primary is-paddingless is-marginless">3</div> 
                    <div class="desc">
                    <h2 class="subtitle is-3 is-paddingless is-marginless">Jak się za to zabrać?</h2>
                    </div>
            </div><!--columns-->
        </div> <!-- container -->
    </div> <!-- hero body -->

    </div> <!-- hero -->

    <div class="hero">
    <div class="hero-body">
    	<div id="howToStart" class="container">
    	<!-- rzymskie cyfry -->
    	<div class="mytile-parent" v-for="tile in tiles">
    	<div class="mytile box">
    		<h1 class="title"><span>{{ tile.nb }}</span> {{ tile.title }}</h1>
    		<div class="content">
    		<i v-bind:class="'fas '+tile.icon"></i>
    		<ul>
    			<li v-for="li in tile.lis">{{li}}</li> 
    		</ul>
    		</div>	<!--content -->
    	</div>
    	</div>

	<!--
    	<ol type="I">
    		<li>Pierwszy kontakt i ustalenie potrzeb; -zadzwoń do nas napisz maial lub wyslij sms. Dane kontaktowe z zakladce kontakt</li>
    		<li>Kalkulacja wstępna; </li>
    		<li>Wizja lokalna albo udostępnienie danych obiektu (lokalizacja, zdjecia); -dostacz nam swój rachunek za prad, okresl zapotrzebowanie na energie i sposob jej wykorzystania (np: dzien, noc), przygotu zdjecia obiektu lub dokumentacje, zaproponuj sposób finansowania</li>
    		<li>Oferta; klient nic</li>
    		<li>Zawarcie umowy (zaliczka); -na tym etapie w zaleznosci od wartości umowy, możemy poprosić Cię o wpłate zaliczki</li>	
    		<li>Wykonanie projektu; -wystarczy, ze wpuścisz nas na kilka chwil do Ciebię, abyśmy mogli wykonać pomiary i uzyskać niezbędne informacje</li>
    		<li>Dostawa urządzeń (druga rata, platnosc wiekszej czesci umowy); </li>
    		<li>Wykonanie instalacji na obiekcie; -jesli się tak umówimy, możesz to zrobić sam, a my udzielimy Ci niezbędnych rad</li>
    		<li>Uruchomienie instalacji; klient nic</li>
    		<li>Uruchomienie zdalnego systemu monitoringu; -mozesz wybrać czy chcesz mnieć pełny internetowy wgląd w działanie instalacji (zobacz podgląd)</li>
    		<li>Wniosek do Energetyki i uzgodnienia; -uzgodnienia z dostawcą energii możesz zrobić sam, lub powierzyć to nam</li>
    		<li>Odbiór instalacji przez zakład energetyczny; -przygotuj kalkulator i zacznij liczyć zyski</li>
    	</ol>
-->
    	</div> <!-- container -->
    </div> <!-- hero-body -->
    </div> <!-- hero -->


    <div id="articles" class="has-background-white">
    </div>
    <!-- KONIEC ARTYKULOW -->




    <!--<div class="hero is-small advantage" v-animation:my-fadein >
        <div class="hero-body is-paddingless content">
        <div class="container">
            <div class="columns">
                <div class="header1 title is-primary is-paddingless is-marginless">4</div> 
                    <div class="desc">
                    <h2 class="subtitle is-3 is-paddingless is-marginless">Nasza oferta</h2>
                    </div>
            <!--</div><!--columns-->
        <!--</div> <!-- container -->
    <!--</div> <!-- hero body -->
    <!--</div>-->

    <!--
	<div id="offer">    
    <div class="hero is-middle our-offer">
    <div class="hero-body">
    <div class="container">


        <div class="tile is-ancestor">
            
            <div class="tile mytile is-parent is-vertical" v-animation:my-fadein_frombottom>
                <div class="tile is-child">
                    <figure class="image" style="width: 100%">
                        <img src="forHouse.png"> 
		                <div class="cover">
		                	<i class="fas fa-plus-circle"></i>
		                </div>
                    </figure>                  
                </div>
                
                <div class="tile is-child">
                    <h3 class="subtitle is-4 has-text-centered">Fotowoltaika dla domu</h3>
                    <p class="has-text-justified">Proin condimentum a mi ut mattis. Aenean in erat non tortor volutpat consectetur. Nullam finibus lectus auctor, blandit orci ut, lobortis nunc. Nam ullamcorper gravida odio, eu semper purus ornare eget. Mauris scelerisque tellus nunc, eget sodales lectus ultrices a. Etiam sem erat, consectetur</p>   
                </div>  
                   

            </div>
            <div class="tile mytile  is-parent is-vertical" v-animation:my-fadein_frombottom_delay200>
                <div class="tile is-child">
                <figure class="image" style="width: 100%">
                    <img src="forCountry.png"> 
	                <div class="cover">
	                	<i class="fas fa-plus-circle"></i>
	                </div>
                </figure>                  
                </div>
                <div class="tile is-child">
                    <h3 class="subtitle is-4 has-text-centered">Fotowoltaika dla rolnictwa</h3>  
                    <p class="has-text-justified">Proin condimentum a mi ut mattis. Aenean in erat non tortor volutpat consectetur. Nullam finibus lectus auctor, blandit orci ut, lobortis nunc. Nam ullamcorper gravida odio, eu semper purus ornare eget. Mauris scelerisque tellus nunc, eget sodales lectus ultrices a. Etiam sem erat, consectetur</p>
                </div>  
            </div>
            <div class="tile mytile  is-parent is-vertical" v-animation:my-fadein_frombottom_delay400>
                <div class="tile is-child">
                <figure class="image" style="width: 100%">
                    <img src="forCompany.png"> 
	                <div class="cover has">
	                	<i class="fas fa-plus-circle"></i>
	                </div>
                </figure>                  

                </div>
                <div class="tile is-child">
                    <h3 class="subtitle is-4 has-text-centered">Fotowoltaika dla firmy</h3>  
                    <p class="has-text-justified">Proin condimentum a mi ut mattis. Aenean in erat non tortor volutpat consectetur. Nullam finibus lectus auctor, blandit orci ut, lobortis nunc. Nam ullamcorper gravida odio, eu semper purus ornare eget. Mauris scelerisque tellus nunc, eget sodales lectus ultrices a. Etiam sem erat, consectetur</p>
                </div>
            </div>
        </div> <!-- tile ancestor -->
    <!--</div><!-- container -->
    <!--</div><!-- herobody -->
    <!--</div><!-- hero -->
    <!--</div><!-- offer -->


<% include ../partials/footer %>

<script type="text/javascript" src="root/pages/mainPageVue.js"></script>

</body>
</html>