.mytile figure{
	position: relative;
}

.mytile figure .cover{
	opacity: 0;
	position: absolute;
	width: inherit;
	height: 100%;
	background-color: rgba(251, 168, 25, 0.5);	
	top: 0px;
	left: 0px;
	//color: rgb(251, 168, 25);
	color: white;
	font-size: 100%;	
	transition: all ease 0.3s;
}

.mytile:hover figure .cover{
	opacity: 1;
}

.mytile figure .cover i{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 48px;
}

.advantage h3{
	margin: 0px !important;
	padding: 0px;
	line-height: 2em;
	font-size: 1rem;
	display: block;
	font-weight: 400;
	color: inherit;
	font-weight: 300;
}

.advantage{
	padding: 25px 0px;
	margin-top: 25px;
	margin-bottom: 25px;
	position: relative;
	min-height: 15vh;
}

.advantage .content{
	background-color: #EEE;
}

.advantage .header1{
	position: absolute;
	font-size: 20vh;
	left: 20%;
	bottom: calc(-8vh + 25px);
	transform: translate(-50%, 50%);
	//font-family: 'Lato', sans-serif;
	font-family: 'Bangers', cursive;
	font-weight: 900;
	//font-family: 'Baloo Tammudu', cursive;
}

.advantage .desc{
	position: absolute;
	left: calc(25% + 25px);
	bottom: calc(-8vh + 25px);
	transform: translate(0, 50%);
}

#why-we .list{
	display:inline-block;
	background-image: url('/whyWeBg.png') !important;
	padding: 30px;
	border-radius: 25px;
}

#why-we .list ol{
	list-style: none;
	counter-reset: li;
	padding-left: 2em;
	font-size: 1.2rem; 
}

#why-we .list ol li::before{
	position: absolute;
	content: counter(li);
	font-family: 'Baloo Tammudu', cursive; 
	color: var(--brand-yellow);
	display: inline-block;
	font-size: 4rem;
	line-height: 4rem;
	transition: all 0.3s;
	top: 0;
	left: -0.7em;
}

#why-we ol li{
	counter-increment: li;
	//white-space: wrap;
	width: 100%;
	position: relative;
}

#why-we ol li:hover::before{
	margin-left: 0px;
}

#why-we .level-item div{

}

#why-we .level-item div figure{
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
}

#why-we .level-item div div{
	margin-bottom: 25px;
	text-align: center;
	//color: white;
	font-size: 2rem;
}

#product_display .product-box{
	max-width: 50vw;
	margin: 0 auto;
	width: 780px;
	height: 300px;
}

.product-button{
	width: 5vw;
	height: 5vw;
	max-width: 60px;
	max-height: 60px;
	//border: 5px solid black;
	//border-radius: 5vw;
	overflow: hidden;
	text-align: center;
	vertical-align: center;
	font-size: 4vw;
	line-height: 100%;
	color: rgba(0,0,0,.7);
	cursor: pointer;
	transition: all 0.3s ease;
}

.product-button:hover{
	color: black;
	transform: scale(1.2);
}
/*
.product-button.previous:hover{
	text-shadow: 30px 0 0 black, 60px 0 0 black;	
}

.product-button.previous:hover i{
	animation: arrow-left 1s linear infinite;
}

.product-button.next:hover{
	text-shadow: -30px 0 0 black, -60px 0 0 black;	
}

.product-button.next:hover i{
	animation: arrow-right 1s linear infinite;
}
*/
.product-button i{
	margin: auto;
}


#howToStart{
	display: flex;
	flex-wrap: wrap;
}

#howToStart .mytile-parent{
	width: 33.333%;
	padding-right: 25px;
	position: absolute;
	height: 60px;
}

#howToStart .mytile-parent:hover{
	z-index: 100;
}

#howToStart .mytile{
	min-height: 40px;
	width: 100%;
	//display: block;
	//	padding: 10px;
	border-radius: 15px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

#howToStart .mytile h1.title{
	display: block;
	//width: 300px;
	font-size: 1rem;
	text-align: center;
	height: 40px;
	margin-bottom: 0px; 
}

#howToStart .mytile h1.title span{
	font-size: 1.3rem;
}

#howToStart .mytile h1.title span::after{
	content: '.';	
}


#howToStart .mytile .content{
	opacity: 0;
	height: auto;
	max-height: 0px;
	transition: all 0.5s ease;
}

#howToStart .mytile:hover .content{
	visibility: visible;
	max-height: 250px;
	opacity: 1;
	height: auto;
}

#howToStart .mytile ul{
	list-style-type: circle;
	padding-left: 20px;
	overflow: hidden;
}


#howToStart .mytile ul li{
	font-size: 0.8rem;
	line-height: 1.4em;
}

#howToStart .mytile i{
	font-size: 80;
	color: var(--brand-blue);
	display: block;
	margin: 0 auto;
	text-align: center;
	margin: 25px 0px;
}


#howToStart .mytile div:first-child::after{
	//content: "."
}

@media screen and  (max-width: 1080px){
	
	#howToStart .mytile-parent{
		padding-top: 25px;
		width: 100%;
		padding: 0px;
		position: static;
		height: auto;
	}
	#howToStart .mytile{
		position: static;

	}

	#product_display .product-box{
		max-width: 100vw;
		width: auto;
		height: auto;
	}

	.product-button{
		width: 54px;
		height: 54px;
		border-radius: 54px;
		font-size: 40px;
	}
}

@keyframes arrow-left{
	0%{
		transform: translateX(100px);
	}
	50%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(-100px);
	}
}


@keyframes arrow-right{
	0%{
		transform: translateX(-100px);
	}
	50%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(100px);
	}
}

@keyframes product-fadeOut-right{
	0%{
		opacity: 1;
		transform: translateX(0px);
	}
	100%{
		transform: translateX(100px);
		opacity: 0;
	}
}


@keyframes product-fadeIn-right{
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}	
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}


@keyframes product-fadeOut-left{
	0%{
		opacity: 1;
		transform: translateX(0px);
	}
	100%{
		transform: translateX(-100px);
		opacity: 0;
	}
}


@keyframes product-fadeIn-left{
	0%{
		transform: translateX(100px);
		opacity: 0;
	}	
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}

p, li, ul{
	line-height: 2em;
}