<html>

<% include ../partials/head %>

<body class="bg-image has-background-white">
<% include ../partials/mainMenu %>

<style type="text/css">
	.table tr th{
		text-align: center;
	}
</style>

<div id="prices">

<div class="hero is-small title-container">
	<div class="hero-body">
	<div class="container ">
		<div class="level">
			<div class="level-left">
			<div class="level-item" v-for="sub in subcategories">
				<a v-bind:href="'/prices?subcategory='+sub.id">{{ sub.name }}</a>
			</div>
			</div>
		</div>
	</div> <!-- container -->
	</div> <!-- hero-body -->
</div> <!-- hero -->


<div class="hero is-middle">
<div class="hero-body">
<div class="container">
<div style="overflow-x: auto;">
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
<tr>
	<th>Nazwa</th>
	<th>Typ</th>
	<th>Kategoria</th>
	<th>Opis</th>
	<th>Wymiary<br>[cm]</th>
	<th>Waga<br>[kg]</th>
	<th>Cena netto<br>[zł]</th>
</tr>
<tr v-for="p in products" v-on:click="changelocation(p.id)">
	
	<td>{{ p.name }}</td>
	<td>{{ p.type }}</td>
	<td>{{ p.category }}</td>
	<td>{{ p.short_desc }}</td>
	<td>{{ p.size }}</td>
	<td>{{ p.weight }}</td>
	<td>{{ p.price_netto }}</td>
</tr>
</table>
</div>
</div> <!-- container -->
</div> <!-- hero body -->
</div> <!-- hero -->


</div> <!-- prices -->

<% include ../partials/footer %>

<script type="text/javascript" src="root/pages/pricesPageVue.js"></script>

</body>

