<html>
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" type="text/css" href="/root/pages/productPageStyle.css">


</head>
<body class="bg-image has-background-white">
<% include ../partials/mainMenu %>

<div id="product">
<div class="hero is-small title-container">
	<div class="hero-body">
	<div class="container ">
		
	<div class="tile is-ancestor">
	<div class="tile is-vertical">
		<div id="header" class="tile">
        <div class="tile is-parent">
        	<div class="tile is-child">
        		<figure class="image box">
                   	<img src="/nophoto.png" v-bind:src="'/' + product.image" alt="obraz przedstawiajacy produkt ze sklepu"> 
               	</figure>
        	</div>
        </div>
        <div class="tile is-parent is-vertical is-6">
       		<div class="tile is-child box">
       		<div style="width: 100%">
        		<strong class="name">{{ product.name }}</strong>
        		<span class="price">{{ product.price_netto }} zł netto</span>
        	</div>
        		{{ product.short_desc }}
       		</div>
       		<div class="tile is-child box">
       			
       		</div>
       	</div>
       	</div>
    </div> <!--vertical-->
    </div> <!-- ancestor-->
	</div> <!-- container -->
	</div> <!-- hero-body -->
</div> <!-- hero -->

        
<div id="content">

</div>
</div> <!-- product -->

<% include ../partials/footer %>
</body>


<script type="text/javascript" src="/root/pages/productPageVue.js"></script>