/*main styles*/
#header figure img{
	max-height: 400px;
	width: auto;
}

#header strong.name{
	display: inline-block;
	text-align: left;
	width: 49%;
	line-height: 2.4rem;
}

#header span.price{
	display: inline-block;
	text-align: right;
	width: 49%;
	font-size: 1.2rem;
	color: var(--brand-yellow);
}

/*Black panel*/
#content ul li{
	font-size: 0.8rem;
}

#content ul li strong{
	font-size: 1.2rem;
	display: block;
	width: 100%;
}

#content .groupName{
	margin-top: 25px;
	background-color: #DDD;
	color: var(--brand-blue);
	font-size: 2rem;
	font-weight: 900;
	padding: 20px 0px;
	position: relative;
}

#currnetVoltageData{
	margin-bottom: 25px;
}

.toggler{

}

.toggler i{
	position: absolute;
	font-size: 3rem;
	color: rgba(0,0,0,.3);
	right: 0;
	top: 0;
	bottom: 0;
	transition: transform 0.7s linear,
				color 0.3s ease;
}

.toggler:hover i{
	color: black;
}

.toggler i.active{
	transform: rotate(90deg);
}

.toggle-content{
	max-height: 0px;
	//height: 0px;
	transition: all 0.7s linear;
	overflow: hidden;
	//border-bottom: 2px solid black;
}

.toggle-content.shown{
	max-height: 100vh;
	height: auto;
}

#content table{
	padding: 5px;
}

#content table tr td,
#content table tr th{
	padding: 5px;
	border-bottom: 1px solid black;
	text-align: center;
}

#content table tr td:first-child{
	font-weight: 900;
	text-align: left;
}

#content table tr td:last-child{
	text-align: right;
}

/* base */
.company {
  backface-visibility: hidden;
  z-index: 1;
}

/* moving */
.company-move {
  transition: all 600ms ease-in-out 50ms;
}

/* appearing */
.company-enter-active {
  transition: all 400ms ease-out;
}

/* disappearing */
.company-leave-active {
  transition: all 200ms ease-in;
  position: absolute;
  z-index: 0;
}

/* appear at / disappear to */
.company-enter,
.company-leave-to {
  opacity: 0;
}

