.elmeco-img-footer{
	margin: auto;
	width: 50%;
}

footer ul li a{
    color: black;
    transition: all ease .3s;
}

footer ul li a:visited{
    color: black;
}

footer ul li a:hover{
    color: var(--brand-yellow);
}

footer ul{
    list-style: none !important;
}

footer .tile i{
	font-size: 7vw; 
	margin: auto;
	color: var(--brand-blue);
    transition: all ease .3s;
}

footer .tile.is-child:hover i{
	color: var(--brand-yellow);
}

.crew {
	padding: 15px;
}

.crew .level ul li:not(:first-child){
	margin-top: -4px;
}

@media screen and (max-width: 768px){
	.elmeco-img-footer{
		margin: auto;
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	.elmeco-img-footer{
		margin: auto;
		width: 100%;
	}

	footer .tile i{
		font-size: 50px; 
	}
}