

<footer class="footer is-paddingless">

<div class="hero-head has-background-primary crew">
    <div class="container has-text-white">
        <div class="level">
            <div class="level-left">
            <div class="level-item">
                <img src="/LOGOWhite.png" class="level-item" >
            </div>
            <div class="level-item" >
                <ul>
                    <li>Jerzy Parczyk</li>
                    <li>+48 501 263 866</li>
                    <li>jparczyk@wp.pl</li>
            </div>
            </div>
        </div><!-- level -->
    </div> <!-- container -->
</div> <!-- hero-head-->

<div class="hero is-middle">
    <div class="content hero-body has-background-white">
    <div class="container">

    <div class="tile is-ancestor">
            
        <div class="tile mytile is-parent is-vertical">
            <a href="/download">
            <div class="tile is-child has-text-centered">
                <i class="fas fa-chalkboard-teacher"></i>
            </div>
                
            <div class="tile is-child has-text-centered">
                <h3 class="title is-3">Instrukcje</h3>
            </div>  
            </a>
                   
        </div>
        <div class="tile mytile  is-parent is-vertical">
            <a href="/download">
            <div class="tile is-child has-text-centered">
                <i class="fas fa-download"></i>

            </div>
            <div class="tile is-child has-text-centered">
                <h3 class="title is-3">Pliki do pobrania</h3>
            </div></a>  
        </div>
        <div class="tile mytile is-parent is-vertical">
            <a href="/prices">
            <div class="tile is-child has-text-centered">
                <i class="fas fa-hand-holding-usd"></i>              
            </div>
            <div class="tile is-child has-text-centered">
                <h3 class="title is-3">Cennik</h3> 
            </div>
            </a>
        </div>
    </div> <!-- tile ancestor -->
    </div> <!-- container -->
    </div> <!-- hero-body -->

    <div class="content hero-body">
    <div class="container">

    <nav>
        <div class="columns">
            <div class="column">
                <ul>
                    <li><a href="/">Strona główna</a></li>
                    <li><a href="catalog">Katalog</a></li>
                    <li><a href="/prices">Cennik</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li><a href="/expert">Ekspert radzi</a></li>
                    <!--<li>Kadra</li>-->
                    <li><a href="contact">Kontakt</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <!--<li>Dane firmy</li>-->
                    <li><a href="/collaborators">Współpracownicy</a></li>
                    <li><a href="/live">Monitoring instalacji</a></li>
                </ul>
            </div>
            <div class="column">
                <!--<ul>
                    <li>Opcja 1</li>
                    <li>Opcja 2</li>
                    <li>Opcja 3</li>
                </ul>-->
            </div>
        </div>
    </nav>
        </div> <!-- container -->
    </div> <!-- hero-body-->


    <div class="has-text-centered hero-foot elmeco-img-footer" style="justify-content: center;">
        <figure class="image">
            <img src="/LOGO.png" style="max-width: 400px; margin: auto;">
        </figure>
    </div>
    <div class="has-text-centered brand-sign hero-foot has-text-white has-background-black">
        Strona stworzona przez aplipage.pl
    </div>
</div> <!-- hero -->
</footer>
