

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/mystyles.css" />
    <link rel="stylesheet" href="/animations.css" />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/lib.css" />
    <link rel="stylesheet" href="/root/index.css" />
    <link rel="stylesheet" type="text/css" href="/partials/footerStyle.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/root/index.js"></script>
    <script type="text/javascript" src="/root/partials/headVue.js"></script>
    <script type="text/javascript" src="/lib.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">

    <title>Elmeco systemy solarne</title>
        

    <meta name="description" content="Już dziś zostań producentem zielonej energii i oszczędziaj na rachunakch za prąd">
    <meta name="keywords" content="panele, panele solarne, inverter, invt, systemy solarne, Jerzy Parczyk">
    <meta name="author" content="Paweł Parczyk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
   