
<section id="nav" class="hero is-medium bg-image"  v-bind:style="{ 'background-image': 'url(' + sliders[slider] + ')' }">
    <div class="hero-head">
    <nav class="navbar">
    <div class="container">
        
        <div class="navbar-brand">
                    
            <a class="navbar-item" href="https://elmecosolar.pl">
                <img src="/LOGOWhiteShadow.png" alt="Bulma: a modern CSS framework based on Flexbox" style="max-height: 250px; height: 3rem;">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" v-on:click="toggle()">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" style="margin-right:0px" v-bind:class="{ 'is-Active': active }">
        <div class="navbar-end">
            <a v-for="menuItem in items" class="navbar-item" v-bind:href="menuItem.href" v-bind:class="menuItem.isActive==true ? 'is-active' : 'is-not-active'"> {{ menuItem.name }}</a>
        </div>
        </div>
                
    </div> <!-- container -->
    </nav> <!-- nav -->
    </div> <!-- hero-head -->
    


    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 slide-in-elliptic-right-  bck main-title" >
                Zainwestuj we własną elektrownię
            </h1>
        </div>
    </div> <!-- hero-body -->

</section>

<script type="text/javascript" src="/partials/mainMenuVue.js"></script>