
:root {
    --menu-text-not-active-color: rgba(255,255,255,.9);
    --menu-text-active-color: white;
    --menu-text-hover-color: white;
    --menu-line-not-active-color: rgba(255,255,255,0.3);
    --menu-line-not-active-shadow: rgba(0,0,0,1);
    //--menu-line-active-color: #fba819; 
    --menu-line-active-color: #ffeb3b; 
    --menu-line-hover-color: #0aaad9; 

    --brand-blue: #0aaad9;
    --brand-yellow: #ffeb3b;
     
}

body{
	font-family: 'Lato', sans-serif;
}

.main-title{
    font-style: italic;
    color: rgba(255,255,255,1);
    text-shadow: 0px 0px 10px black;

}   

.bg-image{
	background-position: center center;
    background-repeat:  no-repeat;
    //background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

.navbar{
	padding-top: 25px;
}

.nav-button span i{
	font-size: 3rem;
}

a.navbar-burger span, a.navbar-item{
	color: var(--menu-text-not-active-color);
}

a:hover.navbar-burger span, a.navbar-item:hover{
	color: var(--menu-text-active-color);
}

.main-title{
	font-family: 'Do Hyeon', sans-serif;
	font-style: italic;
	//font-size: 10rem;
}

.brand-sign{
	border-top: 2px solid black;
	padding-bottom: 7px;
	padding-top: 5px;
	color: black;
}

.footer{
	padding-bottom: 0px;
}
.navbar-end{
	position: relative;
}
.navbar-end:before{
	content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
  	left: 0;
    background-color: var(--menu-line-not-active-color);
  
}

.navbar-end .navbar-item{
	font-weight: 600;
}

.navbar-end .navbar-item.is-not-active{
	color: var(--menu-text-not-active-color);
	//text-shadow: 0 2px 0px var(--menu-line-not-active-shadow), 0 2px 5px var(--menu-line-not-active-shadow);
	text-shadow: 0px 0px 10px var(--menu-line-not-active-shadow);//, 0 2px 5px var(--menu-line-not-active-shadow);
}

.navbar-end .navbar-item.is-not-active:hover{
	color: var(--menu-text-hover-color);
}

.navbar-end .navbar-item.is-not-active:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  //background-color: #0aaad9;
  background-color: var(--menu-line-hover-color);
  visibility: visible;
  transform: translate(-50%,0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-end .navbar-item.is-not-active:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-end > .navbar-item.is-active{
	color: var(--menu-text-active-color);
	text-shadow: 0px 0px 10px var(--menu-line-not-active-shadow);//, 0 2px 5px var(--menu-line-not-active-shadow);
}

.navbar-end > .navbar-item.is-active:before{
	content: "";
  	position: absolute;
  	width: 100%;
  	height: 3px;
  	top: 0;
  	left: 0;
  	//background-color: #fba819;
  	background-color: var(--menu-line-active-color);
  	visibility: visible;
}



@media screen and (max-width: 1080px){
	:root {
	    --menu-text-not-active-color: black;
	    --menu-text-active-color: black;
	    --menu-line-not-active-color: transparent;
	    --menu-line-active-color: transparent;
	}	

	.navbar-end .navbar-item.is-active,
	.navbar-end .navbar-item.is-not-active{
		text-shadow: none;
	}

	.navbar-end .navbar-item.is-not-active:hover{
		background-color: #fafafa;
	}
}

.navbar-end .navbar-item{
	//border-bottom: 5px solid transparent; 
}

.navbar-end .navbar-item:hover{

	//border-bottom: 5px solid #fba819;	
	background-color: transparent;
}

.mytile:not(:last-child){
	margin-right: 25px;
}

.art{
	padding-top: 10px;
}

.ad-content{
	position: absolute;
	bottom: 25px;
}

.position-parent{
	position: relative;
}

.position-child-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
}
	

.position-child-12{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
}
.position-child-9{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0%, 50%);
}

.position-child-6{
	position: absolute;
	//left: 50%;
	bottom: 0;
	//transform: translate(-50%, 0);
}

.position-child-3{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0%, 50%);	
}

[v-cloak] {
    opacity: 0;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-8-8 11:55:13
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.slide-in-elliptic-right-bck {
	-webkit-animation: slide-in-elliptic-right-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-right-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/**
 * ----------------------------------------
 * animation slide-in-elliptic-right-bck
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-right-bck {
  0% {
    -webkit-transform: translateX(800px) rotateY(30deg) scale(6.5);
            transform: translateX(800px) rotateY(30deg) scale(6.5);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 600px 50%;
            transform-origin: 600px 50%;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-right-bck {
  0% {
    -webkit-transform: translateX(800px) rotateY(30deg) scale(6.5);
            transform: translateX(800px) rotateY(30deg) scale(6.5);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 600px 50%;
            transform-origin: 600px 50%;
    opacity: 1;
  }
}

