<html>
    <head>
        <link rel="stylesheet" href="bulma.css">
        <link rel="stylesheet" href="mystyles.css">

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" src="index.js"></script>


        <title>Elmeco systemy solarne</title>
   
    <style type="text/css">
        div{
            padding-bottom: 25px;
        }
    </style> 

    </head>
    <body>




    <section class="section">
        
        <div class="tile is-ancestor">
  <div class="tile">
    <!-- Add content or other tiles -->scddasda
  </div>
  <div class="tile">
    <!-- Add content or other tiles -->asdasd
  </div>
</div>
        <div class="container">

            <div id="app">
                <h1 class="title">
                    {{ message }}
                </h1>
            </div>

            <a class="button">
                Button
            </a>

            <a class="button is-primary">
                Primary button
            </a>

            <a class="button is-large">
                Large button
            </a>

            <a class="button is-loading">
                Loading button
            </a>

            <div class="columns">
                <div class="column">1</div>
                <div class="column">2</div>
                <div class="column">3</div>
                <div class="column">4</div>
                <div class="column">5</div>
            </div>

            
            <div id="app-2">
                <p class="subtitle" v-bind:title="message">
                
                    Hover your mouse over me for a few seconds
                    to see my dynamically bound title!
                
                    <strong>Bulma</strong>!
                </p>
            </div>
            

            <div id="app-3">
                <span v-if="seen">Now you see me</span>
            </div>

            <div id="app-4">
                <ol>
                    <li v-for="todo in todos">
                        {{ todo.text }}
                    </li>
                </ol>
            </div>

            <div id="app-5">
                <p>{{ message }}</p>
                <button v-on:click="reverseMessage">Reverse Message</button>
            </div>

            <div id="app-6">
                <p>{{ message }}</p>
                <input v-model="message">
            </div>

            <div id="app-7">
                <ol>
                <!--
                  Now we provide each todo-item with the todo object
                  it's representing, so that its content can be dynamic.
                  We also need to provide each component with a "key",
                  which will be explained later.
                -->
                    <todo-item
                        v-for="item in groceryList"
                        v-bind:todo="item"
                        v-bind:key="item.id">
                    </todo-item>
                </ol>
            </div>

        </div>
        </section>

        <script src="index.js"></script>
    </body>
</html>