<html>
<head>
<style type="text/css">
    .nav-button span i{
    font-size: 3rem;
}

.brand-sign{
    border-top: 2px solid black;
    padding-bottom: 7px;
    padding-top: 5px;
    color: black;
}

.footer{
    padding-bottom: 0px;
}

.navbar-end .navbar-item.is-not-active{
    color: #0aaad9;
}

.navbar-end .navbar-item.is-not-active:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #0aaad9;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-end .navbar-item.is-not-active:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-end > .navbar-item.is-active{
    color: #fba819;
}

.navbar-end > .navbar-item.is-active:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #fba819;
    visibility: visible;
}

.navbar-end .navbar-item{
    //border-bottom: 5px solid transparent; 
}

.navbar-end .navbar-item:hover{

    //border-bottom: 5px solid #fba819; 
    background-color: transparent;
}

</style>
</head>
<body>
    <div class="hero is-primary">
        <div class="container">
        <div class="level">
        <div class="level-left"></div>
        <div class="level-right"><strong>Jerzy Parczyk: +48 501 263 866</strong></div>
        </div>
        </div>
    </div>

    <div class="hero has-background-white">
        <div class="container">
        <nav id="nav" class="navbar hero-head is-large">
        
            <div class="navbar-brand">
                
                <a class="navbar-item" href="https://elmecosolar.pl">
                    <img src="LOGO.png" alt="Bulma: a modern CSS framework based on Flexbox" style="max-height: 250px; height: 3rem;">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" v-on:click="toggle()">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" style="margin-right:0px" v-bind:class="{ 'is-Active': active }">
            <div class="navbar-end">
                <a v-for="menuItem in items" class="navbar-item" v-bind:class="menuItem.isActive==true ? 'is-active' : 'is-not-active'"> {{ menuItem.name }}</a>
            </div>
            </div>
            
        </nav>
        </div>

        <div class="hero-body is-paddingless">
        <div class="container if-fluid is-marginless">
        
        <img src="Slider1.png" style="max-width: 100vw; width: 100vw; height: 250px;">

        </div>
        </div>

    </div>
</body>
</html>