<html>
    <head>
        <!--<link rel="stylesheet" href="bulma.css">-->
        <link rel="stylesheet" href="mystyles.css">
        <link rel="stylesheet" href="index.css">

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" src="index.js"></script>


        <title>Elmeco systemy solarne</title>
        

        <meta name="description" content="Już dziś zostań producentem zielonej energii i oszczędziaj na rachunakch za prąd">
        <meta name="keywords" content="panele, panele solarne, inverter, invt, systemy solarne, Jerzy Parczyk">
        <meta name="author" content="Paweł Parczyk">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    </head>
    <body class="bg-image has-background-white">

    <section class="hero is-large bg-image" style="background-image: url('Slider1.png')">
        <div class="hero-head">
        <nav id="nav" class="navbar">
        <div class="container">
        
            <div class="navbar-brand">
                
                <a class="navbar-item" href="https://elmecosolar.pl">
                    <img src="LOGO.png" alt="Bulma: a modern CSS framework based on Flexbox" style="max-height: 250px; height: 3rem;">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" v-on:click="toggle()">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" style="margin-right:0px" v-bind:class="{ 'is-Active': active }">
            <div class="navbar-end">
                <a v-for="menuItem in items" class="navbar-item" v-bind:class="menuItem.isActive==true ? 'is-active' : 'is-not-active'"> {{ menuItem.name }}</a>
            </div>
            </div>
            
        </div>
        </nav>
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 slide-in-elliptic-right-bck">
                    Zainwestuj we wlasną elektrownie!!!
                </h1>
                <h2 class="subtitle">
                    Large subtitle
                </h2>
            </div>
        </div>

        <!--<div class="hero-body is-paddingless">
        <div class="container if-fluid is-marginless">
        
        <img src="Slider1.png" style="max-width: 100vw; width: 100vw; height: 250px;">

        </div>
        </div>-->

    </section>

    <!-- KONIEC NAGLOWKA Z MENU I SLIDEREM -->

    <!-- ARTYKULY -->
    <div id="articles" class="has-background-white">
    <div class="art" v-for="(a, index) in arts">
        
        <div class="hero is-small advantage">
            <div class="hero-body is-paddingless content">
            <div class="container">
                <div class="columns">
                       <div class="header1 title is-primary is-paddingless is-marginless">{{ index + 1 }}</div> 
                        <div class="desc">
                        <h2 class="subtitle is-3 is-paddingless is-marginless">{{ a.advSubtitle }}</h2>
                        <p>{{ a.advDesc }}</p>
                        </div>
                </div><!--columns-->
            </div> <!-- container -->
            </div> <!-- hero body -->

        </div> <!-- hero -->
    
    <div class="hero">
    <div class="container">
    
        <div class="columns">
            
            <div class="column" v-if="index%2==0">
            <figure class="image is-text-centered">
                <img src="" v-bind:src="a.image">
            </figure>
            </div>

            <div class="column has-text-justified">
                <h2 class="title is-4 is-primary">{{ a.title }}</h2>
                

                <p v-if="a.fullText">
                    {{ catText(a.content) }} 
                    <a class="is-primary" v-on:click="toggleArtVisible(index)">czytaj wiecej...</a>
                </p>
                <p v-else>
                    {{ a.content }} 
                    <a class="is-primary" v-on:click="toggleArtVisible(index)">czytaj mniej</a>
                </p>
            </div>
            
            <div class="column" v-if="index%2==1">
            <figure class="image is-text-centered">
                <img src="" v-bind:src="a.image">
            </figure>
            </div>
        
        </div>
        
    </div> <!--hero-->
    </div> <!--articles-->
        
    <!--<div class="column is-4">
        <div class="box" style="height: 40vh">DODATKOWE MIEJSCE NA ZMIENIAJACE SIE DANE POMIAROWE Z ROZNYCH OBBIEKTOW W FORMIE OD RAZU RZUCAJACEJ SIE W OCZY<br><br>
        ALBO REFERENCJE</div>
    </div><!-- column 4-->
    
    </div> <!--columns-->
    </div> <!--container-->

    <!-- KONIEC ARTYKULOW -->




    <!-- REKLAMA ZE SKLEPU -->
    <div id="ad" class="bg-image" style="padding-top: 25px; background-image: url('tloReklamy.png')">
        <div class="hero is-large">
        <!--<div class="hero-body">-->
            <div class="container">
            <div class="columns">


            <div class="column is-6" v-for="prod in products">
                <div class="columns">
                <div class="column position-parent" style="min-height: 50vh;">
                    <figure class="image position-child-6" style="bottom: 25px; width: 100%">
                        <img v-bind:src="prod.image" style="max-height: 250px; max-width: 250px;"> 
                    </figure>           
                </div>
                <div class="column position-parent">
                    <div class="position-child-6" style="bottom: 25px;">
                        <h3 class="title is-4 is-primary">{{ prod.name }}</h3>
                        <p>{{ prod.desc }}</p>
                        <h3 class="subtitle is-4">{{ prod.price }} zł</h3>
                    </div>
                </div>
                </div>                
            </div>

            <!--
            <div class=columns>
                <div class="column position-parent" style="min-height: 50vh;">
                    <figure class="image position-child-6 box" style="bottom: 25px;">
                        <img src="pannel1.png" style="max-width: 480px; max-height: 480px;">
                    </figure>
                </div>
                <div class="column" style="position: relative;">
                    <div class="ad-content box">
                        <h3 class="title is-4 is-primary">Panel monokrystaliczny</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id leo ut massa egestas</p>
                        <h3 class="title is-4">315zł</h3>
                    </div>
                </div>
            </div>
            </div>-->
        <!--</div>-->
        </div> <!-- columns -->
        </div> <!--container-->
    </div> <!--hero-->
    </div> <!--ad-->
    <!-- KONIEC REKLAMY ZE SKLEPU -->
    

    <div class="hero is-middle">
    <div class="hero-body">
    <div class="container">
        
    <h1 class="level-item title has-text-grey-darker has-text-centered">Nasza oferta</h1>

        <div class="tile is-ancestor">
            
            <div class="tile mytile is-parent is-vertical">
                <div class="tile is-child">
                    <figure class="image" style="width: 100%">
                        <img src="forHouse.png"> 
                    </figure>
                </div>
                
                <div class="tile is-child">
                    <h3 class="subtitle is-4 has-text-centered">Fotowoltaika dla domu</h3>
                    <p class="has-text-justified">Proin condimentum a mi ut mattis. Aenean in erat non tortor volutpat consectetur. Nullam finibus lectus auctor, blandit orci ut, lobortis nunc. Nam ullamcorper gravida odio, eu semper purus ornare eget. Mauris scelerisque tellus nunc, eget sodales lectus ultrices a. Etiam sem erat, consectetur</p>   
                </div>  
                   

            </div>
            <div class="tile mytile  is-parent is-vertical">
                <div class="tile is-child">
                <figure class="image" style="width: 100%">
                    <img src="forCountry.png"> 
                </figure>
                </div>
                <div class="tile is-child">
                    <h3 class="subtitle is-4 has-text-centered">Fotowoltaika dla firmy</h3>  
                    <p class="has-text-justified">Proin condimentum a mi ut mattis. Aenean in erat non tortor volutpat consectetur. Nullam finibus lectus auctor, blandit orci ut, lobortis nunc. Nam ullamcorper gravida odio, eu semper purus ornare eget. Mauris scelerisque tellus nunc, eget sodales lectus ultrices a. Etiam sem erat, consectetur</p>
                </div>  
            </div>
            <div class="tile mytile  is-parent is-vertical">
                <div class="tile is-child">
                <figure class="image" style="width: 100%">
                    <img src="forCompany.png"> 
                </figure>                  
                </div>
                <div class="tile is-child">
                    <h3 class="subtitle is-4 has-text-centered">Fotowoltaika dla rolnictwa</h3>  
                    <p class="has-text-justified">Proin condimentum a mi ut mattis. Aenean in erat non tortor volutpat consectetur. Nullam finibus lectus auctor, blandit orci ut, lobortis nunc. Nam ullamcorper gravida odio, eu semper purus ornare eget. Mauris scelerisque tellus nunc, eget sodales lectus ultrices a. Etiam sem erat, consectetur</p>
                </div>
            </div>
        </div> <!-- tile ancestor -->
    </div><!-- container -->
    </div><!-- herobody -->
    </div><!-- hero -->





        <footer class="footer hero">
            <div class="content hero-body">
                <div class="columns">
                    <div class="column">
                        <ul>
                            <li>Strona główna</li>
                            <li>Katalog</li>
                            <li>Cennik</li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul>
                            <li>Ekspert radzi</li>
                            <li>Kadra</li>
                            <li>Kontakt</li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul>
                            <li>Dane firmy</li>
                            <li>Współpracownicy</li>
                            <li>Opcja 3</li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul>
                            <li>Opcja 1</li>
                            <li>Opcja 2</li>
                            <li>Opcja 3</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="has-text-centered brand-sign hero-foot">
                Strona stworzona przez aplipage.pl
            </div>
        </footer>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <script src="index.js"></script>
    </body>
</html>