<div class="container">
<div class="level">
	<div class="level-left">
		<div class="level-item">
			<ul>
				<li><strong>Ogniwa złożone z pięciu szyn zbiorczych</strong>
Bardziej równomiernie rozłożenie obciążenia mechaniczne<br>
Mniej mikropęknięć i strat na rezystancji
Wyższy współczynnik mocy i lepsze wydajność</li>
				<li><strong>Dodatnia tolerancja mocy (0 ~ +5W)</strong></li>
				<li><strong>Wysoka odporność na obciążenia mechaniczne</strong>
3800 Pa dla wiatru, 5400 Pa dla śniegu </li>
				<li><strong>Wysoka wydajność przy niskim nasłonecznieniu</strong>
Moduł pracuje w pochmurne, deszczowe dni </li>
			</ul>	
		</div>
	</div> <!--level-left-->

	<div class="level-right">
		<div class="level-item">
			<ul>
				<li><strong>Anty-PID (degradacja wywołana potencjałem)</strong>
Moduł testowany anty-PID przy 85% dopuszczalnej temperatury i 85%
wilgotności względnej przez 96 godzin </li>
				<li><strong>Duża wytrzymałość w ekstremalnych warunkach</strong>
Pomyślnie wykonane testy odporności na korozję mgłą solankową i
amoniakiem, pyłem i piaskiem, testy ogniowe<br> – potwierdzone certyfikatem
TUV </li>
				<li><strong>Podwójne testy elektroluminescencji (EL)</strong>
Brak wadliwych modułów gwarantowany dzięki dokładnie
przeprowadzonym testom przed i po laminacji </li>
				<li><strong>Ogólnoświatowe ubezpieczenie</strong>
CHUBB (USA), Solar Insurance&Finance (Netherlands), AON (Japan)</li>
			</ul>		
		</div>
	</div><!--level-right-->
</div>
</div>

<div class="container">
	<figure class="image">
        <img src="/graphG.png" v-bind:src="'/' + product.image" alt="wykres spadku wydajności w kolejnych latach pracy"> 
    </figure>


<div class="level">
	<div class="level-item">
		<ul>
			<li>10 lat na materiał i wykonanie</li>
			<li>97,5% sprawności w pierwszym roku eksploatacji</li>
		</ul>
	</div>
	<div class="level-item">
		<ul>
			<li>12 lat na utrzymanie 90% sprawności początkowej</li>
			<li>25 lat na utrzymanie 80% sprawności początkowej</li>
		</ul>
	</div>
</div> <!-- container-->
</div>

<div class="hero groupName">
	<div class="container toggler" data-toggle="eleParams">
		Parametry elektryczne <i class="fas fa-angle-right"></i>
	</div>
</div>
<div class="container toggle-content" id="eleParams">
<table>
	<tr><th>Typ modułu (-60)</th><th></th><th></th><th>UL-260P</th><th>UL-270P</th><th>UL-275P</th><th>UL-280P</th></tr>
	<tr><td>Moc wyjściowa</td><td>Pmax</td><td>W</td><td>260</td><td>270</td><td>275</td><td>280</td></tr>
	<tr><td>Tolerancja mocy</td><td>dP</td><td>W</td><td colspan="4">0/+5</td></tr>
	<tr><td>Sprawność modułu</td><td>ηm</td><td>%</td><td>16.19</td><td>16.50</td><td>16.80</td><td>17.11</td></tr>
	<tr><td>Napięcie mocy max.</td><td>Vm</td><td>V</td><td>30.9</td><td>31.0</td><td>31.1</td><td>31.3</td></tr>
	<tr><td>Prąd mocy max.</td><td>Im</td><td>A</td><td>8.58</td><td>8.71</td><td>8.85</td><td>8.95</td></tr>
	<tr><td>Napięcie rozwarcia</td><td>Voc</td><td>V</td><td>38.0</td><td>38.2</td><td>38.3</td><td>38.5</td></tr>
	<tr><td>Prąd zwarcia</td><td>Isc</td><td>A</td><td>9.02</td><td>9.13</td><td>9.25</td><td>9.35</td></tr> 
</table>
Parametry podane dla warunków standardowych STC: 1000W/m2; 25 OC; AM 1,5. 
</div>

<div class="hero groupName">
	<div class="container toggler" data-toggle="tempGraph">
		Charakterystyki temperaturowe <i class="fas fa-angle-right"></i>
	</div>
</div>

<div class="container toggle-content" id="tempGraph">
<table>
	<tr><td>Nominalna temp. pracy ogniwa</td><td>NOCT</td><td>&deg;C</td><td>45 +/- 2</td></tr>
	<tr><td>Temperaturowy wsp. mocy</td><td>γ</td><td>%/&deg;C</td><td>-0.403</td>
	<tr><td>Temp. wsp. napięcia Voc </td><td>&Beta;<sub>voc</sub></td><td>%/&deg;C</td><td>-0.330</td>
	<tr><td>Temp. wsp. napięcia Voc </td><td>&alpha;<sub>Isc</sub></td><td>%/&deg;C</td><td>+0049</td>
</table>
</div>

<div class="hero groupName">
	<div class="container toggler" data-toggle="materials">
		Materiały konstrukcyjne <i class="fas fa-angle-right"></i>
	</div>
</div>

<div class="container toggle-content" id="materials">
<table>
	<tr><td>Płyta czołowa (mat/typ/grubość)</td><td> Niskożelazowe szkło hart. / 3,2mm </td></tr>
	<tr><td>Ogniwa (ilość/mat./typ/wymiary)</td><td>60/polykryształ/156,75 x 156,7mm</td></tr>
	<tr><td>Materiał wypełnienia</td><td> Etylenowy octan winylu (EVA)</td></tr>
	<tr><td>Rama (materiał/kolor)</td><td>Al.anodyzowane/czarny lub srebrny</td></tr>
	<tr><td>Puszka przyłączeniowa (IP)</td><td> IP67</td></tr>
	<tr><td>Kable (długość/przekrój)</td><td>900mm / 4mm<sup>2</sup></td></tr>
	<tr><td>Złącze wtykowe</td><td>MC4 (kompatybilne)</td></tr>
</table>
</div>


<div class="hero groupName">
	<div class="container toggler" data-toggle="dim">
		Parametry ogólne <i class="fas fa-angle-right"></i>
	</div>
</div>

<div class="container toggle-content" id="dim">
<table>
	<tr><td>Wymiary (Wys x Szer x Grubość)</td><td>1650 x 992 x 35 mm </td></tr>
	<tr><td>Waga</td><td>18.5 kg</td></tr>
</table>
</div>


<div class="hero groupName">
	<div class="toggler container" data-toggle="package">
		Sposób pakowania <i class="fas fa-angle-right"></i>
	</div>
</div>

<div class="container toggle-content" id="package">
<table>
	<tr><td>Wymiary palety (Wys x Szer x Głęb)</td><td>1710 x 1120 x 2350 mm</td></tr>
	<tr><td>Waga palety</td><td>1150 kg</td></tr>
	<tr><td>Sztuk na palecie</td><td>60</td></tr>
	<tr><td>Sztuk w kontenerze</td><td>780</td></tr>
</table>
</div>

<div class="hero groupName">
	<div class="toggler container" data-toggle="currnetVoltageData">
		Charakterysyka prądowo-napięciowa <i class="fas fa-angle-right"></i>
	</div>
</div>

<div class="container toggle-content" id="currnetVoltageData">
<div class="level">
	<div class="level-item">
	<figure class="image ">
        <img src="/graphSun.png" v-bind:src="'/' + product.image" alt="wykres zaleznosci mocy od naslonecznienia"> 
    </figure>
	</div>
	<div class="level-item">
	<figure class="image ">
        <img src="/graphTemp.png" v-bind:src="'/' + product.image" alt="wykres zaleznosci mocy od naslonecznienia"> 
    </figure>
	</div>
	<div class="level-item">
	<figure class="image ">
        <img src="/panelDim.png" v-bind:src="'/' + product.image" alt="wykres zaleznosci mocy od naslonecznienia"> 
    </figure>
	</div>
</div>
</div>